<div class="resume">
  <div class="resume_box  com_width clearfix">
    <hr>
    <div class="left_area fl">
      <div class="left_area_box">
      <img src="/assets/resume.jpg">
      <div>
        <h1>姚家锋</h1>
        <span>web前端开发工程师</span>
      </div >
      <div class="contact_box">
        <div class="icon_item">
          <span class="icon">
            <a href="#">github.com/yaojiafeng</a>
          </span>
        </div>
        <div class="icon_item">
          <span class="icon">
            <a href="#">github.com/yaojiafeng</a>
          </span>
        </div>
        <div class="icon_item">
          <span class="icon">
            <a href="#">github.com/yaojiafeng</a>
          </span>
        </div>
      </div>
      <div class="job_intention">
        <span><h1>求职意向</h1></span>
        <p>想要加入一个：<br>
        -热爱前沿技术<br>
        -热爱前沿技术<br>
        -热爱前沿技术<br>
        -热爱前沿技术<br>
        的团队
      </p>
      </div>
      <div class="personal_info">
        <h2>个人信息</h2>
        <p>
          工作地点:广州<br>
          婚姻状况:未婚<br>
          毕业院校:武汉大学<br>
          出生年月:1949.10<br>
        </p>
      </div>
      <div>
        <h2>语言技能</h2>

      </div>
    </div>
    </div>
    <div class="right_area fl">
      yyyyyyyyyy
    </div>

  </div>
</div>