.home_box{
    width: 100%;
    height: 1000px;
    background:#f5f5f5;
}
.aside{
    width: 2px;
    height: 1000px;
    background:#2196f3;
    transition: 0.4s;
    text-align: center;
}
.aside:hover{
    height: 1000px;
    width: 255px;
    background:#ffffff;
    font-size: 14px;
    box-shadow:0 0 0 1920px #3e538f;
 
}
ul li{
    margin-left: -10px;
}

/*内容部分*/
