<div class="photos">
    <div class="content com_wrap">
      <div class="box_1">
        <h1>PHOTOS</h1>
      </div>
      <div class="items_box">
        <div class="ui_tab">
          <ul>
            <li>
              <a href="#">全部</a>
            </li>
            <li>
              <a href="#">生活</a>
            </li>
            <li>
              <a href="#">艺术</a>
            </li>
            <li>
              <a href="#">纪念</a>
            </li>
            <li>
              <a href="#">其他</a>
            </li>
          </ul>
        </div>
        <ul class="clearfix">
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <h3>20周年歌迷同乐会</h3>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img1" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="narrow">
            <a href="#">
              <div class="com_img" >
                <div class="com_overlayer">
                </div>
              </div>
              <div class="com_txt">
                <div class="v_alignbox">
                  <div>
                    <h3>20周年歌迷同乐会</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
        
        </ul>
      </div>
    </div>
  </div>